<div class="container-fluid text-center" style="margin-top: 150px;">
    <h2>Our Global Presence</h2>
    <div class="country-scroll-container" id="country-scroll-container">
      <!-- Country 1 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/in.png" alt="India">
        <h3>India</h3>
      </div>
  
      <!-- Country 2 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/us.png" alt="United States">
        <h3>United States</h3>
      </div>
  
      <!-- Country 3 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/au.png" alt="Australia">
        <h3>Australia</h3>
      </div>
  
      <!-- Country 4 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/gb.png" alt="United Kingdom">
        <h3>United Kingdom</h3>
      </div>
  
      <!-- Country 5 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/fr.png" alt="France">
        <h3>France</h3>
      </div>
  
      <!-- Country 6 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/de.png" alt="Germany">
        <h3>Germany</h3>
      </div>
  
      <!-- Country 7 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/jp.png" alt="Japan">
        <h3>Japan</h3>
      </div>
  
      <!-- Country 8 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/ca.png" alt="Canada">
        <h3>Canada</h3>
      </div>
  
      <!-- Country 9 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/br.png" alt="Brazil">
        <h3>Brazil</h3>
      </div>
  
      <!-- Country 10 -->
      <div class="country-card">
        <img src="https://flagcdn.com/w320/it.png" alt="Italy">
        <h3>Italy</h3>
      </div>
    </div>
  </div>